<!DOCTYPE html>
<nav>
    <ul>
       <li><a href="/">Home</a></li>
       -
       
       <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<head>
    <title>C# Skills</title>
</head>
<div class="container">
    <h1>C#<br>How I Learned It</h1>
        <img src="/img/IMG_E1728 (2).JPG" height="50%" width="100%">
        <div class="content">
            <img class="avatar" src="/img/c.jpg" height="150px" width="150px">
            <p>I started learning C# when I was 14, and I learned the basics like how to print text to console, the variables, operatives, etc. Then I quit for six months.<br> When I went back to learning C#, I was more motivated because I wanted to build games with it, and I did, but they where small games and that<br> didn't teach me much about C# so then I took a 14-hour course for learning C#, and that's how I learned C#.</p>
        </div>
</div>