<!DOCTYPE html>
<nav>
    <ul>
       <li><a href="/">Home</a></li>
       -
       <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<head>
    <title>Contact</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/contact.css" />
<body>
    <a class="normal" href="https://www.instagram.com/edwardpivo/"><img class="avatar" src="/img/insta logo.jpg" height="50px" width="50"></a><br>
    <br>
    <a class="normal" href="https://www.fiverr.com/edwardpivovarov?up_rollout=true"><img class="avatar" src="/img/fiverr logo.jpg" height="50px" width="50"></a><br>
    <br>
    <a class="normal" href="https://www.upwork.com/freelancers/~01ec57f7d159ab04a0"><img class="avatar" src="/img/up.png" height="50px" width="50"></a>
</body>