<!DOCTYPE html>
<nav>
    <ul>
       <li><a href="/">Home</a></li>
       -
       
       <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<body>
    <div class="container">
        <h1>About Me</h1>
        <img src="/img/IMG_E1728 (2).JPG" height="50%" width="100%">
        <div class="content">
            <img class="avatar" src="/img/myface.jpg" height="150px" width="150px">
            <p>Hi, my name is Edward Pivovarov. I am a 15 yr old self-taught web<br>
                 developer. I know HTML, CSS, Javascript, and C#, I can design and build<br>
                modern-looking portfolio websites like this one.</p>
        </div>
    </div>
    <div class="container">
        <h1>My Skills<br>(Click On A Skill)</h1>
        <img src="/img/Code.PNG" height="50%" width="100%">
        <div class="content">
            <a class="skill" href="/html_css">
                <img class="avatar" src="/img/html.png" height="150px" width="150px">
            </a>
            <a class="skill" href="/html_css">
                <img class="left" src="/img/css (2).png" height="150px" width="150px">
            </a>
            <a class="skill" href="/js">
                <img class="left" src="/img/node.png" height="150px" width="225px">
            <a class="skill" href="/js">
                <img class="left" src="/img/js.png" height="150px" width="150px">
            </a>
            <a class="skill" href="/c">
                <img class="left" src="/img/c.jpg" height="145px" width="135px">
            </a>
        </div>

    </div>

</body>