<!DOCTYPE html>
<nav>
    <ul>
       <li><a href="/">Home</a></li>
       -
       
       <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<head>
    <title>HTML and CSS Skills</title>
</head>
<div class="container">
    <h1>HTML and CSS<br>How I Learned Them<br></h1>
        <img src="/img/IMG_E1728 (2).JPG" height="50%" width="100%">
        <div class="content">
            <img class="avatar" src="/img/html.png" height="150px" width="150px">
            <p>I started learning HTML to get into front-end development, and I thought that CSS wasn't necessary. Then halfway through learning HTML,<br> I realized that CSS was needed for me to start building a website so, then I started learning both of them at the same time, and for me,<br> they were both easy to learn because I already knew a couple of programming languages. And that's how I learned HTML and CSS</p>
        </div>
</div>