<!DOCTYPE html>
<nav>
    <ul>
       <li><a href="/">Home</a></li>
       -
       
       <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<head>
    <title>JavaScript Skills</title>
</head>
<div class="container">
    <h1>JavaScript<br>How I Learned It<br>(Node.Js | Express.js)</h1>
        <img src="/img/IMG_E1728 (2).JPG" height="50%" width="100%">
        <div class="content">
            <img class="avatar" src="/img/js.png" height="150px" width="150px">
            <p><br> I started learning a little bit of JavaScript when I needed to build my first website that had user authentication in it.<br> I used Node.js, Express.js, etc. To make a website server that lets me run my HTML and CSS code also lets me enter users' data into my database.</p>
        </div>
</div>